%Mon400 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}

%Mon500 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}

%Mon600 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

%Mon700 {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
}

%Pop700 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
}